@import "tailwindcss";
@import "tailwindcss-animated";

@plugin './hero.ts';
@plugin './typography.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@config "../../tailwind.config.js";
@theme {
  --color-primary: #ffd333;
  --color-primary-100: #fff8e6;
  --color-primary-200: #ffedc2;
  --color-primary-300: #ffe2a0;
  --color-primary-400: #ffd666;
  --color-primary-500: #fec001d6;
  --color-primary-600: #fdbd3c;
  --color-primary-700: #f8b02a;
  --color-primary-800: #a37731;
  --color-primary-900: #a37731;
  --color-danger:#ef4056;
  --font-iranyekan: "iranyekan", sans-serif;
  --font-pelak: "pelak", sans-serif;
  --font-dana: "dana", sans-serif;
  --font-noora: "noora", sans-serif;
}

button {
  cursor: pointer;
}

li::marker {
  color: rgb(148, 148, 148);
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1300px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1250px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1100px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 11px;
  }
}
.input {
  @apply outline-none !text-zinc-500 border border-zinc-300 p-3 rounded-sm w-full bg-transparent shadow-none
}
.btn-primary {
  @apply p-3 bg-primary text-zinc-700 hover:bg-[#3d464d] hover:text-white transition-colors ease-in-out
}
html {
  font-size: 12px;
}
.switch-container {
  width: 42px;
  height: 23px;
  position: relative;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.slider {
  width: 18px;
  height: 18px;
  position: absolute;
  left: calc(50% - 18px / 2 - 10px);
  top: calc(50% - 18px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow:
    0px 3px 8px rgba(0, 0, 0, 0.15),
    0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch {
  background-color: var(--color-primary);
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 18px / 2 + 10px);
  top: calc(50% - 18px / 2);
}

.spoiler-link:after {
  left: 0;
  right: 0;
  top: 50%;
  margin-top: 1em;
  content: "";
  position: absolute;
  border-bottom: 1px dashed #8b91a2;
  margin-top: 0.8em;
}

