@import "tailwindcss";

@theme {
  --color-primary: #ffd333;
  --color-primary-500: #fec001d6;
}

button {
  cursor: pointer;
}

li::marker {
  color: rgb(148, 148, 148);

}
body {
  font-size: 14px;
}